$background: #7c7;
$border-color-focus: #427cff;
$border-color-hover: #777;
$border-color: #aaa;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$button-active-bg: #f6f6f6;
$button-bg: #fff;
$button-height: 32px;
$color: #333;
$disabled-border-color: #ccc;
$font-size: 12px;
$input-height:32px;
$red: #f66;
$box-shadow:0 0 4px rgba(59, 59, 59, 0.15);